<!-------------------purchases/new-->

<!--Creates instance of stripe.js-->
<script>
  var stripe = Stripe(<%= STRIPE_PUBLIC_KEY %>);
  var elements = stripe.elements();
</script>


<div class=row>
  <div class=col-md-8>
    <%= form_for @purchase do |f| %>
      <% !user_signed_in? %>
        <span>Email is required:</span>
        <%=f.text_field :email, placeholder: "Email" %>
      <% end %>
      
    
<form action="/charge" method="post" id="payment-form">
<div class="form-row">
<label for="card-element">
Credit or debit card
</label>
<div id="card-element">
<!-- a Stripe Element will be inserted here. -->
</div>

<!-- Used to display form errors -->
<div id="card-errors" role="alert"></div>
</div>

<input type="submit" class="submit" value="Submit Payment">
</form>
    
    
<!---------------- STRIPE V3 --------------->
<% if @purchase.errors.any? %>
  <%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved.
  <% @purchase.errors.full_messages.each do |msg| %> 
    <%= msg %>
  <% end %>
<% end %>

<%= form_for @purchase do |f| %>
  <div class="form-row">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- a Stripe Element will be inserted here. -->
    </div>

    <!-- Used to display form errors -->
    <div id="card-errors" role="alert"></div>
  </div>

  <% if(params[:merchandise_id].present?) %>
    <%= f.submit "Purchase", class: "submit", value: "Submit Payment" %>
  <% else %>
    <%= f.submit "Donate", class: "submit", value: "Submit Payment" %>
  <% end %>
<% end %>